<div class="col-sm-4 mb-4">
  <div class="card h-100">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
        <%= flat.name %>
      </p>
      <p class="card-text">
        <%= flat.address %>
      </p>
      <i class="fa-solid fa-people-line ml-3"><span>
        <%= flat.number_of_guests %>
      </span></i>
      <i class="fas fa-euro-sign ml-3"><span>
        <%= flat.price_per_night %>
      </span></i>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-link text-primary">More info</button>
      <button type="button" class="btn btn-link text-warning">Edit</button>
      <button type="button" class="btn btn-link text-danger">Remove</button>
    </div>
  </div>
</div>
