<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Simple Airbnb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="ms-auto flex">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="flex mx-2 my-2 my-lg-0">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </form>
      <button class="btn btn-outline-success ml-2 my-2 my-sm-0" type="submit">Search</button>
      <button class="btn btn-outline-primary my-2 my-sm-0 ms-2" type="submit">Add Flat</button>
  </div>
</div>
  </nav
