
<div class="map" style="background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200'); height: 300px; width: 100%; background-size: cover;">

</div>
<div class="map" style="background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200'); height: 300px; width: 100%; background-size: cover;">
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="flat-show-card">
        <%= @flat.address %>
      </div>
      <div class="flat-show-card">
        <%= @flat.description %>
      </div>
    </div>

    <div class="col">
      <div class="flat-show-card">
        <h5>Book this place!</h5>
      <form>
        <div class="form-group">
          <label for="booking-from">Booking From:</label>
          <input type="date" class="form-control mt-2" id="booking-from">
        </div>
        <div class="form-group">
          <label for="booking-to">Booking To:</label>
          <input type="date" class="form-control mt-2" id="booking-to">
        </div>
          <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
      </div>

      <div class="flat-show-card">
        <h3>Details</h3>
        <div class="d-inline-flex ">
          <div class="flex"><%= @flat.number_of_guests %> people</div>
          <div class="flex ms-3"><i class="fa-solid fa-euro-sign"></i><%= @flat.price_per_night %></div>
        </div>
      </div>
      <div class="flat-show-card">
        <div class="d-flex justify-content-between">
        <div>
          <h6 class="no-mb">Share:</h6>
          </div>
        <div class="flex">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
